{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur!</h1>

    <p>
        Vous n'avez pas accès à cette page! Veuillez <a href="{{ path('homepage') }}">returner à la page d'accueil</a>.
    </p>
{% endblock %}